<div class="log_in_container">
  <h1 class="log_in_title">¿Eres propietario de algún restaurante?</h1>
  <%= link_to 'Sí', link_account_path, class: "register_button" %>
  <%= link_to 'No', root_path, class: "register_button" %>
</div>
