/* -------------------------------------- */
/* GENERAL*/
/* -------------------------------------- */


html,body{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* -------------------------------------- */
/* MAIN LAYOUT */
/* -------------------------------------- */

.wraper{
    height: 100%;
    overflow: hidden;
    background-color: #E5DBC8;
}

.sidenav {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #0E0E15;
    bottom: 0;
    top: 75px;
}

.sidenav > a:nth-last-child(2) {
    margin-top: auto;
}

.sidenav > a {
    text-decoration: none;
}

.sidenav_element {
    display: flex;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}


.sidenav_element_icon {
    width: 30px;
}

.sidenav_element_text { 
    color: #B79B70; 
    font-size: 32px; 
    font-family: 'Chillax', sans-serif;
    font-weight: 400; 
    letter-spacing: 1.60px; 
    word-wrap: break-word;
    text-align: center;
    margin-left: 8px;
}

#location {
    background-color: #E5DBC8;
    border-radius: 30px;
}

#location_text {
    color: #0E0E15;
}

#my_account {
    color: #E5DBC8;
}

#my_account_icon {
    margin: 3px;
    width: 24px;
}

.main {
    margin-left: 300px;
    min-height: 100%;
    /* background-color: #E5DBC8; */
}
    
.header {
    top: 0;
    height: 75px;
    background: #0E0E15;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
}

.logo {
    padding: 10px;
    width: 300px;
    margin: 8px;
}

.search_bar {
    display: flex;
    align-items: center;
    width: 364px;
    height: 44px;
    background: #E5DBC8;
    position: relative;
    border-radius: 15px;
    padding-left: 12px;
    margin-right:10px;
}

.search_bar_field {
    font-family: Chillax;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    background: rgba(229, 219, 200, 0.84);
    border: none;
    outline: none;
    width: 316px;
    margin-left: 6px;
}

/* -------------------------------------- */
/* COMMON SECTION TITLES */
/* -------------------------------------- */

.title {
    font-family: 'Chillax', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
    margin-top: 40px;
    margin-left: 40px;
}

.title_key_word {
    color: #B79B70;
}

/* -------------------------------------- */
/* CATEGORIES */
/* -------------------------------------- */

.categories_list {
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.category_box {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Chillax', sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2.4px; 
    text-decoration: none;
    height: 150px;
    width: 300px;
    overflow: hidden;
    border-radius: 15px;
}

.category_image {
    width: 300px;
}

.category_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}