/* -------------------------------------- */
/* GENERAL*/
/* -------------------------------------- */

:root {
    --letra: 'Chillax', sans-serif;
    --light-gold: #E5DBC8;
    --strong-gold: #B79B70;
    --white: #EAEAEA;
    --black: #0E0E15;
    --light-black: #171722
}

html,body{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* -------------------------------------- */
/* MAIN LAYOUT */
/* -------------------------------------- */

.wraper{
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 75px 1fr;
    background-color: var(--light-gold);
}

.main {
    overflow: auto;
}

.sidenav {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    bottom: 0;
}

.sidenav > a:nth-last-child(2) {
    margin-top: auto;
}

.sidenav > a {
    text-decoration: none;
}

.sidenav_element {
    display: flex;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

.sidenav_element_icon {
    width: 30px;
}

.sidenav_element_text { 
    color: var(--strong-gold);
    font-size: 32px; 
    font-family: var(--letra);
    font-weight: 400; 
    letter-spacing: 1.60px; 
    word-wrap: break-word;
    text-align: center;
    margin-left: 8px;
}

#location {
    background-color: var(--light-gold);
    border-radius: 30px;
}

#location_text {
    color: var(--black);
}

#my_account {
    color: var(--light-gold);
}

#my_account_icon {
    margin: 3px;
    width: 24px;
}

#my_account_cont {
    border: 2px solid var(--light-gold);
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main {
  overflow: scroll;
}

.header {
    grid-column: span 2;
    height: 75px;
    background: var(--black);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
}

.logo {
    padding: 10px;
    width: 300px;
    margin: 8px;
}

.search_bar {
    display: flex;
    align-items: center;
    width: 364px;
    height: 44px;
    background: var(--light-gold);
    position: relative;
    border-radius: 15px;
    padding-left: 12px;
    margin-right:10px;
}

.search_bar_field {
    font-family: var(--letra);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    background: var(--light-gold);
    border: none;
    outline: none;
    width: 316px;
    margin-left: 6px;
}

/* -------------------------------------- */
/* COMMON SECTION TITLES */
/* -------------------------------------- */

.title {
    font-family: var(--letra);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
}

.title_key_word {
    color: var(--strong-gold);
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

/* -------------------------------------- */
/* CATEGORIES */
/* -------------------------------------- */

.categories_list {
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.category_box {
    position: relative;
    text-align: center;
    color: white;
    font-family: var(--letra);
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2.4px; 
    text-decoration: none;
    height: 150px;
    width: 300px;
    overflow: hidden;
    border-radius: 15px;
}

.category_image {
    width: 300px;
    filter: brightness(50%)
}

.category_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------------- */
/* COMMENTS */
/* -------------------------------------- */
.comment_style {
  display: inline-flex;
  padding: 25px 18px 13px 30px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
  border-radius: 25px;
  border: 1px solid var(--Border, #EAEAEA);
  background: #FFF;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.comment_head {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.comment_tstamp {
  text-align: left;
  top: 20px;
  width: 100px;
  position: absolute;
  color: #808080;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.comment_author {
  left: 0px;
  top: 0px;
  position: absolute;
  color: black;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.65px;
  word-wrap: break-word;
}

.comment_continent {
  align-self: stretch;
  height: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.comment_content {
  text-align: left;
  width: 665px;
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.80px;
  word-wrap: break-word;
}

.comment_actions_row {
  width: 300px;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.comment_action_item {
  position: relative;
  color: #0E0E15;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.39px;
  word-wrap: break-word;
}

.three_dots {
  width: 24px;
  height: 24px;
  left: 90%;
  position: absolute;
}

/* -------------------------------------- */
/* MY ACCOUNT */
/* -------------------------------------- */

.logout_button {
    background-color: var(--strong-gold);
    text-decoration: none;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: var(--black);
    font-family: var(--letra);
    letter-spacing: 2.4px;
    font-size: 24px;
}

.my_account_form_container {
    background-color: var(--white);
    margin-top: 24px;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 80% 20%;
    height: 535px;
    align-items: center;
    justify-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.my_account_user_passwd {
    left: 40px;
    align-items: center;
}

.my_account_form_label {
    font-family: var(--letra);
    font-size: 20px;
}

.my_account_form_text_field {
    font-family: var(--letra);
    font-size: 20px;
    background-color: var(--white);
    border-radius: 15px;
    border: 2px solid grey;
    padding-left: 10px;
    padding-bottom: 4px;
}

.my_account_form_text_field:focus {
    outline: none !important;
    border: 2px solid var(--strong-gold);
    
}

.my_account_form_buttons {
    grid-column: span 3;
}


/* -------------------------------------- */
/* RESTAURANTS */
/* -------------------------------------- */

.restaurants_header {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
}

.restaurants_img {
  flex-shrink: 0;
  height: 300px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.restaurants_header_content {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.restaurants_header_info_button {
  width: 25%;
  height: 100%;
  position: relative;
}

.restaurants_header_botones {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  font-family: var(--letra);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.20px;
  word-wrap: break-word;
  text-align: center;
}

.restaurants_header_page_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
  background: var(--black);
  border: 1px #E5DBC8 solid;
  text-decoration: none;
  color: var(--white);
}

.restaurants_einaeats_button {
  width: 200px;
  height: 80px;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: var(--black);
  border-radius: 30px;
}

.restaurant_einaeats_button_text {
  color: var(--strong-gold);
  font-family: var(--letra);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  margin-left: 14px;
}

.restaurants_stats_button {
  width: 230px;
  flex-direction: row;
  display: flex;
  color: var(--black);
  background: var(--strong-gold);
  border-radius: 30px; 
}

.restaurant_section_title {
  display: flex;
  background-color: var(--black);
  height: 90px;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  text-align: center;
  font-family: Chillax;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10.8px; 
}

.restaurant_section_subtitle {
  color: var(--strong-gold);
  font-family: var(--letra);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 70%; /* 28px */
}

.restaurant_section_content {
  background-color: var(--light-black);
  height: 400px;
}

.restaurant_section_content_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 160px !important;
  column-gap: 60px;
}


.restaurant_info_item {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-family: var(--letra);
  font-size: 20px;

}

.restaurant_info_subtitle {
  color: var(--strong-gold);
}



/* -------------------------------------- */
/* LOG IN / REGISTER */
/* -------------------------------------- */

.log_in_container {
    background-image: url(registro-background.png);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log_in_title {
    color: var(--black);
    font-family: var(--letra);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase; 
}

.log_in_text_field_wrapper {
    width: 300px;
    height: 45px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: 2px solid var(--black);
    margin: 20px 0;
}

.log_in_text_field_icon {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.log_in_text_field_field {
    color: var(--black);
    font-family: var(--letra);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: transparent;
    border: none;
    outline: none;
}

.log_in_button {
    width: 304px;
    height: 45px;
    border-radius: 4px;
    border: 2px solid var(--black);
    background: var(--black);
    color: var(--strong-gold);
    text-align: center;
    font-family: var(--letra);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}

.log_in_button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.register_button {
    width: 304px;
    height: 45px; 
    border-radius: 4px;
    background: var(--strong-gold);
    color: var(--black);
    text-align: center;
    font-family: var(--letra);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
    margin-top: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.register_button:hover {
    filter: brightness(120%);
}


/* -------------------------------------- */
/* EXPLORE */
/* -------------------------------------- */


.explore_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 1fr;
  background-color: var(--black);
}

.explore_top_section_title {
  color: var(--white);
  text-align: center;
  font-family: var(--letra);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */ 
}

.explore_best_valued {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.explore_top_section_best_valued_list {
  display: flex;
  height: 300px;
  padding: 0px 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 30px;
}

.explore_top_section_best_valued_list_item {
  
} 

.explore_promoted_restaurant {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}


.explore_promoted_restaurant_box {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 30px;
  height: 300px;
  overflow: hidden;
}

.explore_promoted_restaurant_image {
  width: 100%;
  height: 200px;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}

.explore_promoted_restaurant_info {
  display: flex;
  align-items: center;
  margin: 20px 20px;
  justify-content: space-between;
}

.explore_promoted_restaurant_name {
  color: var(--black);
  font-family: var(--letra);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px; 
}

.explore_restaurants_filters {
  background-color: var(--white);
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 0px 30px;
  padding-top: 20px;
  position: sticky;
  align-self: start;
}

.explore_restaurants_filters_title {
  color: var(--black);
  text-align: center;
  font-family: var(--letra);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;

}

.explore_restaurants_filters_item {
  border-radius: 30px;
  background-color: var(--light-gold);
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-family: var(--letra);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
}


.explore_lower_section {
  background-color: var(--light-gold);
  grid-column: span 2;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
}

.explore_restaurants_section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-left: 40px;
  margin-top: 40px;
  gap: 20px;
}

.explore_restaurants_box {
  width: 250px;
  height: 200px;
  background-color: var(--white);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  align-items: center;

}

.explore_restaurants_box_image {
  width: 100%;
  height: 100px;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}

.explore_restaurant_box_name {
  color: var(--black);
  font-family: var(--letra);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  margin-top: 2px;
}

.explore_restaurant_box_category {
  color: var(--strong-gold);
  font-family: var(--letra);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px; 
}