<div class="title_container">
    <h1 class="title">Edita tu <span class="title_key_word">plato</span></h1>
</div>
<% if flash[:fails] %>
  <div class="notice" ><%= flash[:fails] %></div>
<% end %>
<%= render "form", dish: @dish %>

