
<div style="margin-left: 50px; margin-top: 50px">
  <div class="title">Restaurante<span class="title_key_word"><%= @dish.restaurant.nombre %></span></div>
  <span class="title" style="font-size: 24px">Comentarios sobre el plato: <span class="title_key_word"><%= @dish.nombre %></span></span>
</div>

<div style="margin-left: 100px; margin-top: 30px">
  <%= render "layouts/comment", comments: @dish.reviews %>
</div>
