
<div class="title_container">
  <span class="title">Respuestas al comentario de <span class="title_key_word"><%= @review.autor %></span></span>
</div>
<%= render "layouts/comment", comments: [@review] %> 

<div>
  <%= render "layouts/comment", comments: @review.responses %>
</div>
