<h1 class="title"><span class="title_key_word">Categorías</span> de conversación</h1>

<ul class="categories_list">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category_path(category) do %>
        <div class="category_box">
          <%= image_tag "burger-category", class: "category_image" %>
          <div class="category_name"><%= category.nombre %></div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

