
<h1>Categoría <%= @category.nombre %></h1>



<ul>
  <% @category.posts.each do |post| %>
    <li> <%= post.autor %> : <%= post.contenido %> </li>
  <% end %>
</ul>

<div>
  <%= link_to "Crear Post", new_post_path(category: @category.nombre) %>
</div>
