<div class="posts_container">
  <div class="title_container">
    <h1 class="title"><span class="title_key_word"><%= @category.nombre %></span> en Zaragoza</h1>
  </div>
  <div class="category_post_list">
    <%= render "layouts/comment", comments: @category.posts%>
  </div>
  <%= render "layouts/add_comment", path_param: new_post_path %>
</div>
