<h1 class="title"><span class="title_key_word"><%= @category.nombre %></span> en Zaragoza</h1>


<%= render "layouts/comment", comments: @category.posts %>

<div>
  <%= link_to "Crear Post", new_post_path(category: @category.nombre) %>
</div>
