<div class="title_container">
    <h1 class="title">Editar <span class="title_key_word">Restaurante</span></h1>
</div>
<%= render "form", restaurant: @restaurant %>
<% if @restaurant.imported_id %>
    <span>cagaste a malas</span>
<% else %>
    <%= link_to restaurant_path(@restaurant.id), style: "text-decoration: none; display: flex; justify-content: center;", data: {turbo_method: :delete} do %>
        <div class="restaurants_header_edit_button" style="width: 700px; background-color: var(--delete-color);">
            <span class="restaurants_header_edit_button_text" style="color: var(--black);">Eliminar Restaurante</span>
        </div> 
    <% end %>
<% end %>
