<div class="log_in_container">
  <h1 class="log_in_title">¿Qué tipo de cuenta quieres?</h1>
  <%= link_to 'Crear cuenta independiente', new_restaurant_path, class: "register_button" %> 
<div>
  <div>¿Tu restaurante está registrado en EinaEats?</div>
  <div>Haz que tu entrada tenga comentarios de platos y del restaurante</div>
  <%= link_to 'Enlazando las cuentas', "http://webdiis.unizar.es/~mena/", class: "register_button", target: :_blank %>
</div>
</div>
