
<div class="title_container">
  <h1 class="title">Respuestas al comentario de <span class="title_key_word"><%= @post.autor %></span></h1>
</div>
<div class="resposnses_original_comment_wrapper">
  <div class="responses_original_comment">
    <%= render "layouts/comment", comments: [@post] %>
  </div>
</div>
<div>
  <%= render "layouts/comment", comments: @post.responses %>
</div>
