<%= link_to path_param, style: "text-decoration: none; display: flex; justify-content: center;" do %>
  <div class="add_comment_container">
      <%= image_tag "/images/add-comment-icon.svg", class: "comment_action_logo" %>
      <div class="add_comment_text">Súmate a la conversación</div>
  </div>
<% end %>
