<div class="add_comment_container">
    <%= link_to path_param, class: "comment_action_logo" do %>
      <%= image_tag "add-comment-icon"%>
    <% end %>
    <div class="add_comment_text">Súmate a la conversación</div>
</div>
